<body>
<form (submit)="onSubmit(taskInput.value)">
  <label for="task">Task:</label>
  <input id="task" #taskInput type="text">
  <button type="submit">Submit</button>
</form>






  <ng-container class="todo-container" *ngFor="let todo of todos">
    <div>
      <p>{{todo.task}}</p>
    </div>
    <div *ngIf="!todo.completed == true">
      <button class="completed-message" (click)="doneToDo(todo)" type = "submit">Done!</button>
    </div>
    <div class="done-button" *ngIf="todo.completed==true">
      <p>Nice Job! you did it</p>
    </div>
  </ng-container>

</body>

<router-outlet></router-outlet>
